<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Exercise-Tracker</title>
</head>
<body>
    <div class="container">
        <h1>Exercise tracker</h1>
        <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username" maxlength="20" required>
            <input type="submit" value="Submit">
        </form>
        <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId*" required>
            <input id="desc" type="text" name="description" placeholder="description*" required>
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
        </form>
        <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
        <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
        <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>

        <p>I can create a user by posting form data username to <code>/api/exercise/new-user</code> and returned will be an object with username and _id.</p>
        <p>I can get an array of all users by getting <code>api/exercise/users</code> with the same info as when creating a user.</p>
        <p>I can add an exercise to any user by posting form data userId(_id), description, duration, and optionally date to <code>/api/exercise/add</code>. If no date supplied it will use current date. App will return the user object with the exercise fields added.</p>
        <p>I can retrieve a full exercise log of any user by getting <code>/api/exercise/log</code> with a parameter of userId(_id). App will return the user object with added array log and count (total exercise count).</p>
        <p>I can retrieve part of the log of any user by also passing along optional parameters of from & to or limit. (Date format yyyy-mm-dd, limit = int)</p>
    </div>
</body>
</html>